[Unit]
Description=Run CTV Insertion Order Scanner 4x daily

[Timer]
OnCalendar=*-*-* 03:10:00
OnCalendar=*-*-* 09:10:00
OnCalendar=*-*-* 15:10:00
OnCalendar=*-*-* 21:10:00
RandomizedDelaySec=2m
Persistent=true

[Install]
WantedBy=timers.target
